<!DOCTYPE html>
<html>
<head>
  <title>New Server</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
  <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
</head>
<body>

<div class="container">
	<div class="row clearfix">
    <div class="col-md-12 column">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav>
      
      <div class="page-header">
        <h1>
          Player List <small>Server id:<%= @server.id %></small>
        </h1>
      </div>
      
			<div class="row clearfix">
        <div class="col-md-12 column">
          
          <% @server.players.each do |player| %>
            <div class="card" style="max-width:760px;">
            <div class="card-body">
              
              <h3 class="card-title"><%= player.name %></h3>

              <div class="container">
                <div class="row">

                  <div class="col-sm">
                      
                  </div>

                  <div class="col-sm">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <%= link_to 'Show', player_path(player), class: 'btn btn-primary btn-lg' -%>
                      <button type="button" class="btn btn-secondary">Left</button>
                      <button type="button" class="btn btn-secondary">Middle</button>
                      <button type="button" class="btn btn-secondary">Right</button>
                    </div>
                  </div>

                </div>
              </div>
    
            </div>
          </div>

          <% end %>

					
				</div>
			</div>
		</div>
	</div>
</div>

#<h1>Server id:</h1>
#<%= @server.id %>

<h2>Player List</h2>
<div class="list-group">

  <% @server.players.each do |player| %>
	  <%= comment.id %>
  <% end %>

</div>

</body>
</html>

